{% extends "base.html" %}

{% block content %}
    <style>
        summary {
            font-weight: bold;
            margin: -.5em -.5em 0;
            padding: .5em;
        }

        details[open] {
            padding: .5em;
        }

        details[open] summary {
            border-bottom: 1px solid #aaa;
            margin-bottom: .5em;
        }

        .olmargin {
            margin-left: -15px;
            text-align: left;
        }
        #btnSubmit{
        width:100px;
        margin:auto;
        display:block;
    }
    </style>


    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">자격증 선택하기</h1>
    </div>

    {#    <form action="" method="post">#}
    {#        {% csrf_token %}#}

    <div class="row">
        <!-- Earnings (Annual) Card Example -->
        {% for job in jobs %}
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                </div>
                                <div class="h6 mb-0 font-weight-bold text-gray-800">
                                    <details>
                                        <summary><strong>{{ job.job }}</strong></summary>
                                        <ol style="list-style: none;">
                                            <form method="post" action="{% url 'search:license_info' %}">
                                                {% csrf_token %}
                                                {% for licenses in licenses3 %}
                                                    {% if licenses.fk_detail1 == job %}

                                                        {% csrf_token %}
                                                        <a href="{% url 'search:license_info' %}">
                                                            <button class="btn btn-primary" style="position: absolute; right:1px; width:150px;"
                                                                    name="license_name" id="btnSubmit" value="{{ licenses.license }}">
                                                                <li style="font-size:0.1em;">{{ licenses.license }}</li>
                                                            </button>
                                                        </a><div style="height:40px; margin-bottom:10px;"></div>
                                                    {% endif %}
                                                {% endfor %}
                                                {% for licenses in licenses4 %}
                                                    {% if licenses.fk_detail1 == job %}
                                                        <a href="{% url 'search:license_info' %}">
                                                            <button class="btn btn-primary"  style="position: absolute; right:1px; width:150px;" name="license_name1"
                                                                    value="{{ licenses.license }}">
                                                                <li style="font-size:0.1em;">{{ licenses.license }}</li>
                                                            </button>
                                                        </a><div style="height:40px;"></div>
                                                    {% endif %}
                                                {% endfor %}
                                            </form>
                                            {#                                            {% for licenses in licenses3 %}#}
                                            {#                                                {% if licenses.fk_detail1 == job and licenses.qual == '정보처리기사' %}#}
                                            {#                                                    <a href="{% url 'mypage:add_license' %}">#}
                                            {#                                                        <li onclick="confirm('정보처리기사를 추가하시겠습니까?')">{{ licenses.qual }}</li>#}
                                            {#                                                    </a>#}
                                            {#                                                {% elif licenses.fk_detail1 == job %}#}
                                            {#                                                    <a href="#">#}
                                            {#                                                        <li onclick="alert('준비중입니다.')">{{ licenses.qual }}</li>#}
                                            {#                                                    </a>#}
                                            {#                                                {% endif %}#}
                                            {#                                            {% endfor %}#}
                                            {##}
                                            {#                                            {% for licenses in licenses4 %}#}
                                            {#                                                {% if licenses.fk_detail1 == job %}#}
                                            {#                                                    <a href="#">#}
                                            {#                                                        <li onclick="alert('준비중입니다.')">{{ licenses.qual }}</li>#}
                                            {#                                                    </a>#}
                                            {#                                                {% endif %}#}
                                            {#                                            {% endfor %}#}
                                        </ol>

                                    </details>
                                </div>

                            </div>


                            {#                                <div class="col-auto">#}
                            {#                                    {% if license == user_license %}#}
                            {#                                        <a href="https://7942yongdae.tistory.com" class="btn btn-primary">#}
                            {#                                            <i class="fas fa-search fa-sm text-gray-300"></i>#}
                            {#                                        </a><br>#}
                            {##}
                            {##}
                            {#                                        <button class="btn btn-link text-danger" name="select_job"#}
                            {#                                                value="{{ license }}">#}
                            {#                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"#}
                            {#                                                 fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">#}
                            {#                                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>#}
                            {#                                            </svg>#}
                            {#                                        </button>#}
                            {#                                    {% else %}#}
                            {##}
                            {#                                        <!-- 여기는 빈하트 -->#}
                            {#                                        <a href="https://7942yongdae.tistory.com" class="btn btn-primary">#}
                            {#                                            <i class="fas fa-search fa-sm text-gray-300"></i>#}
                            {#                                        </a><br>#}
                            {##}
                            {##}
                            {#                                        <button class="btn btn-link text-danger" name="select_job"#}
                            {#                                                value="{{ license }}">#}
                            {#                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"#}
                            {#                                                 fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">#}
                            {#                                                <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>#}
                            {#                                            </svg>#}
                            {#                                        </button>#}
                            {#                                    {% endif %}#}
                            {##}
                            {#                                </div>#}
                            {#                                                </form>#}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}