{% extends "base.html" %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center"
                 role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <script>
            window.setTimeout(function () {
                $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
        </script>
    {% endif %}

    <!-- DataTales Example -->
    <form method="POST" action="{% url 'group:group_board_modify' groupId groupboardId %}"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="d-flex justify-content-between">
                    <h4 class="m-0 font-weight-bold text-primary">글쓰기</h4>
                    <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit">
                        <i class="fas fa-upload fa-sm text-white-50"></i> 등록
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <input type="text" class="form-control mb-4" id="communityTitle" placeholder="제목" name="title"
                               value="{{ title|default_if_none:'' }}" required>
                        <textarea class="form-control mb-4" rows="20" id="communityContent" placeholder="내용"
                                  name="content" required>{{ content|default_if_none:'' }}</textarea>
                    </div>
                    <div class="col-md-3">
                        <label for="formFileMultiple" class="custom-file-label">파일 업로드</label>
                        <input class="custom-file-input mb-4" type="file" id="formFileMultiple" name="filepath"
                               value="{{ filepath|default_if_none:'' }}">
                        <h6>{{ filepath|default_if_none:'' }}</h6>
                    </div>
                </div>

            </div>
        </div>
    </form>
{% endblock %}