{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Jua', sans-serif;
        }
    </style>
    <style>
        html, body { margin: 0; padding: 0; height: 100%; font-size:12px;}

        .header { width: 100%; height: 10%; background: #5882FA; border-bottom: 1px solid; border-color:black;}

        .nav { width: 13%; height: 80%; float: left; background: #5882FA;}

        .section { width: 70%; height: 80%; float: left;
         overflow:auto; color:black;}

        .aside { width: 17%; height: 80%; float: left; overflow:auto;
        background: #5882FA;}

        .footer { width: 100%; height: 10%; clear: both; background: #5882FA; border-top: 1px solid; border-color:black;}

        .left-ol{
            float:left;
            margin: 7px 0px;
            color:white;
        }

        .left_ul{

            float:left;
            padding: 0;
        }

        .ul{
            height: 33%; margin-bottom : 20px;
        }

        .ol{
            margin : 5px;
        }

        .div1{
            height : 80%; width: 50%;  float: left;
        }

        .div2{
            height : 80%; width: 50%;  float: left;
        }

        .div3{
            height : 20%; padding-top: 10px;
        }

        .que{
            margin-top : 20px;
        }

        thead {
            background-color:#cecece;
        }

        .content {
            max-width:500px;
            margin: auto;
            padding:10px;
        }

        .board {
            width: 100%
        }

        .even_bgcolor {
            background-color:#e8efff;
        }

        .pagination {
            display: flex;
        }

        .current {
            font-weight: bold;
        }

        a {
            text-decoration: none;
            text-align: center;
        }

        .abutton {
            background-color: #e6e6ff;
            color: #7b7b7b;
            font-size: small;
        }

        .btn_choice{
            float:left;
            margin-top : 20px;
        }

        .btn_class{
            float:left;
        }

    </style>
</head>
<body>

<!--  <input type="radio" name="list" value="1">-->
<!--  <input type="radio" name="list" value="2">-->

<!--  <fieldset>-->
<!--        <input type="radio" id="Category1" value="카테고리1" name = "Category"/><label for="Category1">카테고리1</label>-->
<!--        <input type="radio" id="Category2" value="카테고리2" name = "Category"/><label for="Category2">카테고리2</label>-->
<!--        <input type="radio" id="Category3" value="카테고리3" name = "Category"/><label for="Category3">카테고리3</label>-->
<!--        <input type="radio" id="Category4" value="카테고리4" name = "Category"/><label for="Category4">카테고리4</label>-->
<!--  </fieldset>-->

<header class="header"></header>
<nav class="nav">
    <div class="col-lg-2 col-md-6">
            <img id="img" src="{% url 'emotion:VidFeed' %}"  height="200" width="200" onclick="openModal();currentSlide(1)" class="hover-shadow">
          </div>

</nav>
{% with que_check=1 %}


<script>
    var que_check = 1;
    var que_select = [];

    function previous_btn(){
            que_check = que_check - 11;
    }

    function next_btn(){
            que_check = que_check + 1;

    }
</script>

    {# for i in que#}

<!--        <p href="{{que}}">{{que}}</p>-->

<!--        {{forloop.counter|add:5 }}번. {{ i }}-->
    {# endfor #}

<!--        {{answer}}-->

    {# for que, item1 in result.items #}
<!--        {{ que }}-->
<!--        {{ item1 }}-->
    {# endfor #}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    function data_save(id, value){
<!--    var que_value = que_select;-->
<!--    console.log(que_value.value);-->

    $.ajax({
        url : 'data_save/',
        data : {
            'id' : id,
            'value' : value
        },
        success : function(data){
            console.log(data['eng'])
            }
        });
    }

</script>

<section class="section">

<!--    {{context.que}}-->
    {# if page_obj #}
        <div class="div1">
        {% for data in page_obj %}
            {% if forloop.counter == 4 %}
                </div><div class="div2">
            {% endif%}

<form method="POST" enctype="multipart/form-data" action="{% url 'reco:compare' %}">
    {% csrf_token %}
    <div id = "que1" class = "que"><p href="{{que.0}}">{{ data.5 }}번. {{ data.0 }}
        <input type="hidden" name="gettext" value="{{ data.0 }}">
    <input type="submit" class="btn btn-primary" value="유사문제"></div>
</form>
    <ol class="ol"><input type='radio'
                 name = "{{data.5}}"
                 value = 1
                 onclick='getanswer(event,this.name)'/>1번. {{data.1}}</ol>
      <ol class="ol"><input type='radio'
                 name = "{{data.5}}"
                 value = 2
                 onclick='getanswer(event,this.name)'/>2번. {{data.2}}</ol>
      <ol class="ol"><input type='radio'
                 name = "{{data.5}}"
                 value = 3
                 onclick='getanswer(event,this.name)'/>3번. {{data.3}}</ol>
      <ol class="ol"><input type='radio'
                 name = "{{data.5}}"
                 value = 4
                 onclick='getanswer(event,this.name)'/>4번. {{data.4}}</ol>
    <script>
        que_check = que_check + 1;

        var ele = document.getElementsByName("{{data.5}}");
        var radio_check = {{data.6}}

        ele[radio_check-1].checked = true;
    </script>
    {% endfor %}
    {# endif #}
    </div>

    </div>

</section>

<aside class="aside">
    <ul class="left_ul">
        <script>var pic_quecheck = 0;</script>
    {% for data in count %}
        <ol class="left-ol">{{forloop.counter}}번. <img value = 1 onclick='pics_ans(event, this.id)' id = "{{forloop.counter}}_number1" name = "" class = "1_number" src="/static/extest/number1.jpg"><img value = 2 onclick='pics_ans(event, this.id)' id = "{{forloop.counter}}_number2" class = "1_number" src="/static/extest/number2.jpg"><img value = 3 onclick='pics_ans(event, this.id)' id = "{{forloop.counter}}_number3" class = "1_number" src="/static/extest/number3.jpg"><img value = 4 onclick='pics_ans(event, this.id)' id = "{{forloop.counter}}_number4" class = "1_number" src="/static/extest/number4.jpg"></ol>
        <script> pic_quecheck += 1;</script>
    {% endfor %}

    </ul>
    <div class = "btn_choice">
        <ol class="btn_class"><button class="btn btn-success btn-sm" type="button" id = "cancel_btn" onclick="cancel()">취소하기</button></ol>
        <ol class="btn_class"><button class="btn btn-success btn-sm" type="button" id = "submit_btn" onclick="result()">제출하기</button></ol>
    </div>
{% endwith %}

<!--  <div id='result'></div>-->
</aside>

<footer class="footer">
<!--    <div class="div3" align="center">-->
<!--        <button type="button" id = "previous_btn" onclick="previous_btn()">이전</button>-->
<!--        <button type="button" id = "next_btn" onclick="next_btn()">다음</button>-->
<!--    </div>-->

    <div style="text-align:center">
            <div class="pagination">

                <div style="width:35%; margin: 5px;">
                {% if page_obj.has_previous %}
<!--                    <a class="abutton" href="?page=1"><input type="button" value="맨앞으로"></a>-->
                    <a class="abutton" href="?page={{ page_obj.previous_page_number }}" method="GET"><input type="button" class="btn btn-success btn-sm" onclick="previous_btn()" value="이전"></a>

                {% endif %}
                </div>

                <div style="width:30%; margin: 5px;">
                {% for page in page_obj.paginator.page_range %}
                    {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                    <span class="{% if page == page_obj.number %}current{% endif %}">
                        <a href="?page={{ page }}">{{page}}</a>
                    </span>
                    {% elif page >= page_obj.number|add:-3 and page <= page_obj.number|add:3 %}
                        ..
                    {% endif %}
                {% endfor %}
                </div>

                <div style="width:35%; margin: 5px;">
                {% if page_obj.has_next %}
                    <a class="abutton" href="?page={{ page_obj.next_page_number }}" method="GET"><input type="button" class="btn btn-success btn-sm" onclick="next_btn()" value="다음"></a>
<!--                    <a class="abutton" onclick="previous_btn()" href="?page={{ page_obj.paginator.num_pages }}"><input type="button" value="맨뒤로"></a>-->
                {% endif %}
                </div>

            </div>
        </div>

</footer>

    <form id="cancle_omr" action="{% url 'extest:cancle_omr' %}" method="post">
        {% csrf_token %}
    </form>
    <form id="result_omr" action="{% url 'extest:result_omr' %}" method="post">
        {% csrf_token %}
    </form>

<!--<form method="POST" action="{% url 'extest:data_save'%}">-->
<!--    <% csrf_token %>-->
<!--    <input type="text" name="hidden_text">-->
<!--    <button class="send_btn" onclick="show_eng()" type="button">전송</button>-->
<!--</form>-->
<!--<div id="div_id"></div>-->
<!--<input type="hidden" name="hidden_text">-->

<script> var num = 0;</script>

{% for data in answer_que %}
    <script>
        num = num+1;
        var check = {{data}};

        var ele = document.getElementsByName(num);

        document.getElementById(num + '_number' + check).src="/static/extest/number_checked.jpg";
    </script>
{% endfor %}


<script>

<!--    var listVar = $('input[name=list]').is(":checked");-->

<!--    document.getElementById('result').innerText =-->
<!--    event.target.value;-->

<!--    $('input:radio[name=이름]').is(":checked");-->
<!--    $('input:checkbox[name=이름]').is(":checked");-->

<!--    if($(':radio[name="list"]:checked').length < 1){-->
<!--    alert('카테고리를 선택해주세요');-->
<!--    Category1.focus();-->
<!--    event.preventDefault();-->
<!--  }-->

<!--    function getanswer(event) {-->
<!--      document.getElementById('result').innerText =-->
<!--        event.target.value;-->
<!--        var ret = confirm(event.target.value);-->
<!--    }-->


    var question1 = 0;
    var question2 = 0;
    var question3 = 0;
    var question4 = 0;
    var question5 = 0;
    var question6 = 0;

<!--    function test(id){-->
<!--    document.getElementById('result').innerText = id;-->
<!--    }-->

    function getanswer(event, name){
        var num = event.target.value;
<!--        document.getElementById('result').innerText = event.target.value;-->

<!--        alert("ID : " + event.target.value + "_" + name);-->

        var ele = document.getElementsByName(name);
        var count = ele.length;

        for(var i=0; i < ele.length; i++) {
            ele[i].checked = false;
        }

        for(var i=1; i < ele.length+1; i++) {
            document.getElementById(name + '_number' + i).src="/static/extest/number" + i + ".jpg"
        }

        if(num == 1){
            ele[0].checked = true;
            document.getElementById(name + '_number1').src="/static/extest/number_checked.jpg"
            data_save(name,1)
<!--                document.getElementByName(name + '_number1').src="/static/extest/number_checked.jpg";-->
        }
        else if(num == 2){
            ele[1].checked = true;
            data_save(name,2)
            document.getElementById(name + '_number2').src="/static/extest/number_checked.jpg"
        }
        else if(num == 3){
            ele[2].checked = true;
            data_save(name,3)
            document.getElementById(name + '_number3').src="/static/extest/number_checked.jpg"
        }
        else if(num == 4){
            ele[3].checked = true;
            data_save(name,4)
            document.getElementById(name + '_number4').src="/static/extest/number_checked.jpg"
        }
    }

    function pics_ans(event, id){
        var num = event.target.value;
        var eleid = id.split('_',1);
        var eleid2 = id.split('r',2);

        var ele = document.getElementsByName(eleid[0]);
        var count = ele.length;

<!--        document.getElementById('result').innerText = eleid2[1];-->

        for(var i=0; i < ele.length; i++) {
            ele[i].checked = false;
        }

        for(var i=1; i < ele.length+1; i++) {
            document.getElementById(eleid[0] + '_number' + i).src="/static/extest/number" + i + ".jpg";
        }

        eleid = Number(eleid);

        if(eleid2[1] == '1'){
            data_save(eleid,1)
            ele[0].checked = true;
         }
         else if(eleid2[1] == '2'){
            data_save(eleid,2)
            ele[1].checked = true;
         }
         else if(eleid2[1] == '3'){
            data_save(eleid,3)
            ele[2].checked = true;
         }
         else if(eleid2[1] == '4'){
            data_save(eleid,4)
            ele[3].checked = true;
         }

        document.getElementById(id).src="/static/extest/number_checked.jpg"

    }

    function cancel() {
         if (confirm("시험을 종료하시겠습니까?")){
               alert("종료하였습니다.");
               document.getElementById("cancle_omr").submit();
           } else {
               alert("취소 버튼을 눌렀습니다.");
           }
    }

    function result() {
         if (confirm("시험지를 제출하시겠습니까?")){
               alert("제출을 완료 하였습니다.");
               document.getElementById("result_omr").submit();
           } else {

           }
    }
  </script>
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
</body>

</html>